name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          clean: true
          fetch-depth: 0

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
          cache: maven

      - name: Clean Maven local repository
        run: |
          rm -rf ~/.m2/repository/*

      - name: Build and Test
        run: mvn -B -Dmaven.repo.local=$GITHUB_WORKSPACE/.m2 clean verify
